*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}
nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
}

.nav_content{
    
}

.nav_content img{
    width: 220px;
    cursor: pointer;
}

.nav_content a{
    text-decoration: none;
    color: black;
    padding: 20px;
}

.nav_content a:hover{
    border-bottom: solid #ffd331;
}

.item_banner .banner{
    width: 100%;
    height: 100%;
}

.description_boxs .boxDescription-1{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    padding-bottom: 30px;
}

.description_boxs .boxDescription-1 h1{
    color: #ffd331;
}

.description_boxs .boxDescription-1 p{
    color: black;
    font-size: 16px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.boxDescription-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.boxDescription-2 .boxDescription-2-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.boxDescription-2 .boxDescription-2-item img{
    width: 48px;
}

.boxDescription-2-item h2{
    color: #ffd331;
}

.boxDescription-2-item p{
    font-size: 12px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}